<!DOCTYPE html>
<html lang="es">
<head>
{{>head}}
</head>
<body class="merchandiseBody">
    <header>
        {{>header}}
    </header>

    <!--Carrito de compras con WEBSOCKETS-->    
        {{>itemsCart}}

  <footer class="aboutusFooter footer">
    {{>footer}}
  </footer>
    {{>scripts}}
</body>

</html>