<!DOCTYPE html>
<html lang="es">
<head>
{{>head}}
</head>
<body class="merchandiseBody">
    <header>
        {{>header}}
    </header>

        {{>tablaUser}}

    <!--Formulario de ingreso de productos con WEBSOCKETS-->    
        {{>formulario}}

        {{>tablaProductos}}


    

    <!--Cliente de CHAT WEBSOCKETS-->
        
        {{>chat}}

  <footer class="aboutusFooter footer"><!--bloque 4 BEM-->
    {{>footer}}
  </footer>
    {{>scripts}}
</body>

</html>